  <a href="#"></a>  <%- include("header")-%>
  <body>

    <div class="box" id="heading">
      <h1><%=listTitle%></h1>
    </div>

    <div class="box">

      <% for(let i = 0; i<newItems.length; i++){ %>
        <div class="item">
          <input type="checkbox">
          <p><%=newItems[i]%></p>
        </div>
      <% } %>

      <form class="item" action=<%=route%>  method="post">
        <input type="text" name="newToDo" placeholder="Click to add New Item" autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>

    </div>

  </body>
</html>
