<%- include("header")-%>

<h1>Register</h1>
<form class="" action="/" method="post">
  <div class="">
    <input type="email" name="userId" placeholder="email id">
    <input type="password" name="password" placeholder="password">
    <button type="submit" name="button">Submit</button>
  </div>
</form>

<p>Alredy registered <a href="/login">Login here</a></p>
